:root {
  --color-background: rgb(45, 45, 45);
  --color-input: rgb(255, 255, 255);
  --color-placeholder: rgb(175, 175, 175);
  --color-button: rgb(0, 170, 230);
  --color-button-border: rgb(30,195,255);
  --card-shadow: rgb(15, 15, 15);
  --form-card: rgb(80, 80, 80);
}

* {
  font-family: 'Tahoma', sans-serif;
}

body {
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.row {
  vertical-align: top;
  overflow: hidden;
}

.column {
  float: left;
  vertical-align: top;
  padding: 2%;
}

*:focus {
  outline: none;
}

input[type=text] {
  border: none;
  border-bottom: solid var(--color-input);
  background: transparent;
  color: var(--color-input);
  font-size: large;
  padding-left: 3%;
  padding-bottom: 1%;
}

::placeholder {
  color: var(--color-placeholder);
  font-size: large;
}

input[name="subject"] {
  width: 100%;
  float: left;
}
input[name="course"] {
  width: 60%;
  float: right;
}

input[type=button] {
  position: fixed;
  top: 10%;
  right: 10%;
  font-size: large;
  background-color: var(--color-button);
  border-color: var(--color-button-border);
  border-radius: 10px;
  height: 5%;
  width: 25%;
}

input[type=button]:hover {
  cursor: pointer;
}

form {
  width: 75vw;
  max-height: 75vh;
  background-color: var(--form-card);
  box-shadow: 5px 5px 15px var(--card-shadow);
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-background);
}

h2 {
  color: var(--color-input);
  padding-left: 2%;
}